.row {
    text-align: center;
    padding-top: 25%;
    text-shadow: 1px 2px 3px black;
}

body {
    background: url("https://images.unsplash.com/photo-1516744263504-69bd3dec5d82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-size: cover;
}

hr {
    width: 35%;
    border-block-color: black;
    border-width: thick;
    border-style: solid;
}

h1 {
    font-family: 'Lexend Tera', sans-serif;
}

h3 {
    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Pacifico', cursive;
}

a {
    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 1px 0.5px black;
}

button {
    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Pacifico', cursive;
    border-style: solid black;
    text-shadow: 0px 1px 0.5px black;
}